
/* BASE STYLES */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-neutral-0);
    color: var(--clr-neutral-700);
    font-family: var(--ff-primary);
}

:is(.header, .section, .footer) {
    padding-inline: var(--spacing-400);

    @media (width > 45rem) {
        padding-inline: var(--spacing-800);
    }

    @media (width > 60rem) {
        padding-inline: var(--spacing-1000);
    }
}

h2 {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-425);

    @media (width > 45rem) {
        font-size: var(--fs-625);
    }
}

.review__link {
    --border-color: var(--clr-neutral-900);
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    width: fit-content;
    text-transform: uppercase;
    border: 2px solid var(--border-color);
    border-radius: var(--radius-8);
    padding: var(--spacing-250);
    font-weight: var(--fw-semi-bold);
    font-family: var(--ff-secondary);
    letter-spacing: -0.06em;
    text-align: center;

    @media (width > 45rem) {
        font-size: var(--fs-225);
    }

    &[data-position="hero"] {
        --flow-space: var(--spacing-400);
        
        &:is(:hover, :focus-visible) {
            background: linear-gradient(107deg, var(--clr-light-salmon-100) 0%, var(--clr-light-salmon-50) 100%);
        }

        &:is(:focus-visible) {
            box-shadow: 0px 0px 0px 3px var(--clr-neutral-0),
            0px 0px 0px 5px var(--clr-neutral-700);
        }
    }

    &[data-position="cta"] {
        --border-color: var(--clr-neutral-0);
        --flow-space: var(--spacing-500);
        margin-inline: auto;

        &:is(:hover, :focus-visible) {
            background: linear-gradient(107deg, var(--clr-neutral-700) 0%, var(--clr-neutral-900) 100%);
        }

        &:is(:focus-visible) {
            box-shadow: 0px 0px 0px 3px var(--clr-neutral-900),
            0px 0px 0px 5px var(--clr-neutral-200);
        }
    }
}

.developers {
    display: flex;
    align-items: center;
    gap: var(--spacing-150);

    &[data-position="hero"] {
        --flow-space: var(--spacing-250);
    }

    &[data-position="cta"] {
        justify-content: center;
    }
}

.developers__images {
    max-width: 80px;
}

.developers__info {
    display: flex;
    flex-direction: column;
}

.developers__text {
    font-family: var(--ff-secondary);
    font-size: var(--fs-175);
}


