/* CSS RESET */

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.4;
}

img, 
picture
 {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: currentColor;
}

:is(ul, ol) {
  list-style-type: "";
  padding: 0;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.2;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


p, ul, ol {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}